body {
    margin: 0;
    padding: 0;
    background: #131034;
}

.signup-form {
    width: 300px;
    padding: 20px;
    text-align: center;
    background: url(aa.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.signup-form h1 {
    color: #fff;
    margin-top: 100px;
    font-size: 40px;
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: none;
}

.txt {
    margin: 20px 0px;
    border-radius: 6px;
}

.signup-btn {
    margin-top: 60px;
    margin-bottom: 20px;
    background: #538fef;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    display: block;
}

.signup-btn:hover {
    transform: scale(0.96);
    background: #fffaaa;
    color: rgb(20, 116, 194);
}

.signup-form a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}

.signup-form a:hover {
    color: yellow;
}