    body {
        margin: 0;
        padding: 0;
        background: url("a.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .box img {
        width: 140px;
        height: 160px;
    }
    
    .box {
        width: 450px;
        background: #586b66;
        padding: 40px;
        text-align: center;
        margin: auto;
        margin-top: 5%;
        color: white;
        font-family: sans-serif;
    }
    
    .box img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .box img:hover {
        transform: scale(0.9);
    }
    
    .box h1 {
        font-size: 40px;
        letter-spacing: 4px;
        font-weight: 100;
    }
    
    .box h5 {
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 3px;
    }
    
    .box p {
        text-align: justify;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    .box li {
        display: inline-block;
        margin: 6px;
        list-style: none;
    }
    
    .box li a {
        color: white;
        font-size: 60px;
        transition: all ease-in-out 250ms;
    }
    
    .box li a:hover {
        color: #b9b9b9;
        ;
    }